@model IEnumerable<AeroLinea.Models.Flota>
@{
    ViewData["Title"] = "Flota";
}

    <div class="header">
    <h1>Nuestra Flota</h1>
</div>

<div class="aircraft">
    @foreach (var avion in Model)
    {
        <div class="aircraft-item">
            <img src="~/img/@(avion.modeloAvion.ToLower()).jpg" alt="@avion.modeloAvion">
            <div class="aircraft-info">
                <h2>@avion.modeloAvion</h2>
                <p><strong>Fabricante:</strong> @avion.fabricanteAvion</p>
                <p><strong>Matrícula:</strong> @avion.matriculaAvion</p>
                <p><strong>Capacidad:</strong> @avion.capacidadAvion pasajeros</p>
                <p><strong>Clase:</strong> @avion.claseAvion</p>
            </div>
        </div>
    }
</div>

<link rel="stylesheet" href="~/css/Home/flota.css" />